<div class="page-header">
  <h2>Home</h2>
</div>

<%= link_to "Post A New Status", new_status_path, class: "button btn btn-success" %>

<% @statuses.each do |status| %>

<div class="status">
  <div class="row">
    <div class="col-md-1 gravatar">
      <%= image_tag status.user.gravitar_url %>
    </div>
    <div class="col-md-7">
      <strong>
<%= link_to status.user.full_name, profiles_show_path(id: status.user.profile_name)  %>
        </strong>
      <p><%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <span class="admin">
           
          |<%= link_to " Delete", status, method: :delete, data: { confirm: "Are Your Sure?"} %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>